{% extends 'accounts/base.html' %}
{% block content %}
<div class="container">
  <br>
  <h1>Clientes</h1>
  <br>
  <div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Correo</th>
        <th scope="col">Dirección</th>
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
      {% for client in object_list %}
      <tr>
        <td><a href="{% url 'detail_client' client.id %}">{{ client.name }}</a></td>
        <td>{{ client.phone }}</td>
        <td>{{ client.mail }}</td>
        <td>{{ client.address }}</td>
      </tr>
      {% empty %}
      <tr>
      <th scope="row">no existen clientes</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'create_client' %}" class="btn btn-primary">Crear Cliente</a>
  </div>
</div>


{% endblock %}
